/* mobile-menu-style */
.menu-items {
  text-align: center;
  position: absolute;
  padding: 1rem;
  margin-top: -7.5rem;
  top: 13rem;
  right: 0rem;
  list-style: none;
  opacity: 0;
  font-size: 18px;
  border: 4px solid black;
  background-color: black;
  transform: translateX(-10%);
  transition: transform 100ms ease-in-out, opacity 200ms;
  z-index: 99;
}

.menu-items li {
  color: white;
  padding: 0.5rem;
}

.menu-items li a {
  color: white;
  text-decoration: none;
}

.menu-items li a:hover {
  color: #50a0c8;
}

.check {
  position: absolute;
  top: 1.3rem;
  height: 3rem;
  width: 3rem;
  opacity: 0;
  z-index: 3;
}

.check:hover {
  cursor: pointer;
}

.check:checked ~ .menu-items {
  display: block;
  transform: translateX(0%);
  opacity: 1;
  width: 100%;
}

.ham-menu {
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 1.3rem;
  padding: 0.5rem;
  z-index: 2;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  border-radius: 0.25em;
}

.ham-menu .line {
  background-color: white;
  border-radius: 1em;
  width: 2rem;
  height: 0.25rem;
}

.ham-menu .line1 {
  transform-origin: 0% 0%;
  transition: transform 100ms ease-in-out;
}

.ham-menu .line3 {
  transform-origin: 0% 100%;
  transition: transform 100ms ease-in-out;
}

.check:checked ~ .ham-menu .line1 {
  display: block;
  transform: rotate(45deg);
}

.check:checked ~ .ham-menu .line2 {
  opacity: 0;
}

.check:checked ~ .ham-menu .line3 {
  display: block;
  transform: rotate(-45deg);
}
